# Miami-Dade Average Temperatures — Analysis

The code analyzes the daily temperature data to compute Miami-Dade county's daily average temperatures and heat indices. 

Read more on the thresholds [here](https://web.archive.org/web/20230619070053/https://www.noaa.gov/jetstream/global/heat-index).

## Importing libraries

In [1]:
import pandas as pd
import time
from modules import relHumidity, heatIndex

## Importing datasets and creating master dataframe

In [2]:
data_hist = pd.read_csv("generated_data/historic_hi.csv")
data_rec = pd.read_csv("generated_data/recent_hi.csv")

Note: Data from 2023 is excluded since it is incomplete

In [3]:
### creating master dataframe
master = pd.concat([data_hist, data_rec], ignore_index = True)

### filtering for county
dade_daily_avg = master[master["COUNTY"] == "Miami-Dade"].reset_index(drop = True)

### displayes dataframe
dade_daily_avg

,COUNTY,LONG,LAT,ELEV,DATE,RAINFALL,TMIN,TMEAN,TMAX,TDMEAN,VPDMIN,VPDMAX,MONTH_YEAR,YEAR,MONTH_YEAR_STR,YEAR_STR,TMIN_INDEX,TMAX_INDEX,TMEAN_INDEX,REL_HUMIDITY
0,Miami-Dade,-80.5684,25.6148,7.0,1990-01-01,0.00,61.9,72.6,83.3,67.8,0.07,15.21,1990-01,1990,1990-01,1990,61.8,93.8,73.1,84.9
1,Miami-Dade,-80.5684,25.6148,7.0,1990-01-02,0.00,58.0,71.4,84.7,60.2,0.19,20.42,1990-01,1990,1990-01,1990,57.3,91.2,71.4,67.8
2,Miami-Dade,-80.5684,25.6148,7.0,1990-01-03,0.00,60.2,68.4,76.7,61.0,0.67,13.11,1990-01,1990,1990-01,1990,59.9,77.2,68.5,77.3
3,Miami-Dade,-80.5684,25.6148,7.0,1990-01-04,0.06,65.5,72.3,79.1,65.4,1.44,14.17,1990-01,1990,1990-01,1990,65.5,79.8,72.6,79.0
4,Miami-Dade,-80.5684,25.6148,7.0,1990-01-05,0.00,68.5,74.3,80.1,70.0,0.21,10.14,1990-01,1990,1990-01,1990,68.8,85.6,74.9,86.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14605,Miami-Dade,-80.5684,25.6148,7.0,2013-12-27,0.62,67.3,72.1,77.0,68.6,0.62,6.80,2013-12,2013,2013-12,2013,67.6,77.8,72.6,88.8
14606,Miami-Dade,-80.5684,25.6148,7.0,2013-12-28,0.25,68.0,73.6,79.2,69.9,0.47,8.98,2013-12,2013,2013-12,2013,68.3,83.3,74.2,88.2
14607,Miami-Dade,-80.5684,25.6148,7.0,2013-12-29,0.03,72.4,75.7,79.1,71.9,1.53,7.43,2013-12,2013,2013-12,2013,72.9,80.0,76.4,88.0
14608,Miami-Dade,-80.5684,25.6148,7.0,2013-12-30,0.02,69.8,74.4,79.1,71.9,0.60,6.09,2013-12,2013,2013-12,2013,70.3,83.4,75.1,91.9
14609,Miami-Dade,-80.5684,25.6148,7.0,2013-12-31,0.02,65.9,72.1,78.3,67.0,0.70,8.53,2013-12,2013,2013-12,2013,66.0,79.0,72.5,84.0

## Computing overall county figures for 1983 to 2022

### Average temperature and dewpoint temperature

In [4]:
### computes average temperatures
avg_temp = round(dade_daily_avg["TMEAN"].mean(), 3)
avg_dp = round(dade_daily_avg["TDMEAN"].mean(), 3)

print("Average temperature (1983-2022):", avg_temp)
print("Average dewpoint temperature (1983-2022):", avg_dp)

Average temperature (1983-2022): 75.882
Average dewpoint temperature (1983-2022): 67.546

### Average relative humidity

In [5]:
### computes relative humidity 
rel_humidity = round(relHumidity(avg_temp, avg_dp), 1)

print("Average relative humidity (1983-2022):", rel_humidity)

Average relative humidity (1983-2022): 75.4

### Average heat index

In [6]:
### computes heat index
hi_avg = heatIndex(avg_temp, rel_humidity)

print("Average heat index (1983-2022):", hi_avg)

Average heat index (1983-2022): 76.3

## Computing average yearly figures

### Creating dataframe

In [7]:
### selects columns 
columns = ["TMEAN", "TDMEAN"]

### computes yearly averages
dade_yearly_avg = dade_daily_avg.groupby("YEAR_STR", as_index = False)[columns].mean()

### displays dataframe
dade_yearly_avg

    YEAR_STR      TMEAN     TDMEAN
0       1983  74.980274  66.158904
1       1984  74.571038  66.002732
2       1985  75.090959  66.020822
3       1986  75.804110  67.141644
4       1987  75.074247  66.363014
5       1988  74.930328  66.159016
6       1989  75.779178  66.977534
7       1990  76.455068  67.639726
8       1991  76.412877  68.324384
9       1992  75.033880  66.534699
10      1993  75.547397  67.012877
11      1994  76.587123  69.438356
12      1995  75.795890  68.401096
13      1996  74.926776  66.940710
14      1997  76.635068  68.515890
15      1998  76.526301  68.547397
16      1999  75.067671  67.179452
17      2000  74.639344  66.681967
18      2001  74.789863  66.657808
19      2002  75.927397  68.070411
20      2003  76.220000  68.253973
21      2004  75.286066  66.645355
22      2005  75.313151  67.848767
23      2006  75.209863  66.889863
24      2007  75.916438  67.706849
25      2008  75.327869  65.948907
26      2009  75.664384  66.657260
27      2010  73.964384  64.933151
28      2011  75.934795  67.305479
29      2012  76.021038  67.262295
30      2013  76.441644  67.783014
31      2014  76.176986  67.152055
32      2015  77.543014  69.188219
33      2016  76.834153  68.395902
34      2017  76.671507  68.922740
35      2018  76.638904  68.282466
36      2019  77.429863  69.342192
37      2020  77.433880  69.504918
38      2021  77.125753  69.287123
39      2022  77.565753  69.789589

### Computing heat indices

In [8]:
### creates column to write into
dade_yearly_avg["TMEAN_INDEX"] = " "

### loop runs through dataframe
for i in range(0, len(dade_yearly_avg)):
    
    ### stores mean temperature and mean dewpoint
    temp_mean = dade_yearly_avg["TMEAN"][i]
    dew = dade_yearly_avg["TDMEAN"][i]
    
    rh = round(relHumidity(temp_mean, dew), 1)
    
    ### calls method to compute heat indices and stores the values
    dade_yearly_avg["TMEAN_INDEX"][i] = heatIndex(dade_yearly_avg["TMEAN"][i], rh)

dade_yearly_avg.head()

/var/folders/8_/vf0g3np57bdb6_x59hshmtcr0000gn/T/ipykernel_5344/1711365499.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dade_yearly_avg["TMEAN_INDEX"][i] = heatIndex(dade_yearly_avg["TMEAN"][i], rh)

   YEAR_STR      TMEAN     TDMEAN TMEAN_INDEX
0      1983  74.980274  66.158904        75.3
1      1984  74.571038  66.002732        74.9
2      1985  75.090959  66.020822        75.4
3      1986  75.804110  67.141644        76.2
4      1987  75.074247  66.363014        75.4

### Computing deviations

In [9]:
### creates column to write into
dade_yearly_avg["OVERALL_AVG_TEMP"] = avg_temp
dade_yearly_avg["OVERALL_AVG_INDEX"] = hi_avg
dade_yearly_avg["DEVIATION_TEMP"] = ""
dade_yearly_avg["DEVIATION_INDEX"] = ""

### loop runs through dataframe
for i in range(0, len(dade_yearly_avg)):
    
    ### computes and stores difference in temperature between that year and the overall county's average
    dade_yearly_avg["DEVIATION_TEMP"][i] = dade_yearly_avg["TMEAN"][i] - avg_temp
    
    ### computes and stores difference in heat index between that year and the overall county's average
    dade_yearly_avg["DEVIATION_INDEX"][i] = dade_yearly_avg["TMEAN_INDEX"][i] - hi_avg

### displays dataframe
dade_yearly_avg

/var/folders/8_/vf0g3np57bdb6_x59hshmtcr0000gn/T/ipykernel_5344/3496945493.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dade_yearly_avg["DEVIATION_TEMP"][i] = dade_yearly_avg["TMEAN"][i] - avg_temp
/var/folders/8_/vf0g3np57bdb6_x59hshmtcr0000gn/T/ipykernel_5344/3496945493.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dade_yearly_avg["DEVIATION_INDEX"][i] = dade_yearly_avg["TMEAN_INDEX"][i] - hi_avg

,YEAR_STR,TMEAN,TDMEAN,TMEAN_INDEX,OVERALL_AVG_TEMP,OVERALL_AVG_INDEX,DEVIATION_TEMP,DEVIATION_INDEX
0,1983,74.980274,66.158904,75.3,75.882,76.3,-0.901726,-1.0
1,1984,74.571038,66.002732,74.9,75.882,76.3,-1.310962,-1.4
2,1985,75.090959,66.020822,75.4,75.882,76.3,-0.791041,-0.9
3,1986,75.804110,67.141644,76.2,75.882,76.3,-0.07789,-0.1
4,1987,75.074247,66.363014,75.4,75.882,76.3,-0.807753,-0.9
5,1988,74.930328,66.159016,75.3,75.882,76.3,-0.951672,-1.0
6,1989,75.779178,66.977534,76.2,75.882,76.3,-0.102822,-0.1
7,1990,76.455068,67.639726,76.9,75.882,76.3,0.573068,0.6
8,1991,76.412877,68.324384,76.9,75.882,76.3,0.530877,0.6
9,1992,75.033880,66.534699,75.4,75.882,76.3,-0.84812,-0.9
10,1993,75.547397,67.012877,75.9,75.882,76.3,-0.334603,-0.4
11,1994,76.587123,69.438356,77.1,75.882,76.3,0.705123,0.8
12,1995,75.795890,68.401096,76.3,75.882,76.3,-0.08611,0.0
13,1996,74.926776,66.940710,75.3,75.882,76.3,-0.955224,-1.0
14,1997,76.635068,68.515890,77.1,75.882,76.3,0.753068,0.8
15,1998,76.526301,68.547397,77.0,75.882,76.3,0.644301,0.7
16,1999,75.067671,67.179452,75.5,75.882,76.3,-0.814329,-0.8
17,2000,74.639344,66.681967,75.0,75.882,76.3,-1.242656,-1.3
18,2001,74.789863,66.657808,75.2,75.882,76.3,-1.092137,-1.1
19,2002,75.927397,68.070411,76.4,75.882,76.3,0.045397,0.1
20,2003,76.220000,68.253973,76.7,75.882,76.3,0.338,0.4
21,2004,75.286066,66.645355,75.7,75.882,76.3,-0.595934,-0.6
22,2005,75.313151,67.848767,75.8,75.882,76.3,-0.568849,-0.5
23,2006,75.209863,66.889863,75.6,75.882,76.3,-0.672137,-0.7
24,2007,75.916438,67.706849,76.3,75.882,76.3,0.034438,0.0
25,2008,75.327869,65.948907,75.7,75.882,76.3,-0.554131,-0.6
26,2009,75.664384,66.657260,76.0,75.882,76.3,-0.217616,-0.3
27,2010,73.964384,64.933151,74.2,75.882,76.3,-1.917616,-2.1
28,2011,75.934795,67.305479,76.3,75.882,76.3,0.052795,0.0
29,2012,76.021038,67.262295,76.4,75.882,76.3,0.139038,0.1
30,2013,76.441644,67.783014,76.9,75.882,76.3,0.559644,0.6
31,2014,76.176986,67.152055,76.6,75.882,76.3,0.294986,0.3
32,2015,77.543014,69.188219,78.0,75.882,76.3,1.661014,1.7
33,2016,76.834153,68.395902,77.3,75.882,76.3,0.952153,1.0
34,2017,76.671507,68.922740,77.2,75.882,76.3,0.789507,0.9
35,2018,76.638904,68.282466,77.1,75.882,76.3,0.756904,0.8
36,2019,77.429863,69.342192,77.9,75.882,76.3,1.547863,1.6
37,2020,77.433880,69.504918,78.0,75.882,76.3,1.55188,1.7
38,2021,77.125753,69.287123,77.6,75.882,76.3,1.243753,1.3
39,2022,77.565753,69.789589,78.1,75.882,76.3,1.683753,1.8

## Exporting dataframes

In [10]:
dade_daily_avg.to_csv("generated_data/dade_daily_avg.csv", index = False)
dade_yearly_avg.to_csv("generated_data/dade_yearly_avg.csv", index = False)